h1, h4 {
    text-align: center;
    padding-top: 30px;
 
}
  
html body {
    background-color: #014421;

}
.container {
    display: flex;
    justify-content: center;
}

.paragraph {
  width: 80%;
  padding-top: 20px;
 

}

.subtitle{
  color: rgb(194, 67, 9);
}

.main-container {
display: flex;
justify-content: center;

}

form {

  display: flex;
  flex-direction: column;
 justify-content: center;
  align-items: center;
  background-color: #722F37;
  padding: 5vh;
  border-radius: 20px;

 
}
label {
  font-weight: 300;
  font-size: larger;
}

input {
  height: 3vh;
  border-radius: 10px;
}


.container-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar, .dropdown-item   {
  background-color: 	#722F37;
}

ul.dropdown-menu {
 background-color: transparent;

}

.logo {
  height: 100px;
  width: auto;
}

.ammoniaImg {
  width: 60%;
}

@font-face
{
    font-family:'Old English';
    src:url('OldEnglishFive.ttf');
}

.ace {
  font-family: 'Old English';

}

.form-container {
  padding-bottom: 50px;
  padding-top: 50px;
}
form {
  gap: 15px;
}

.callnow {
  background-color: #722F37;
  padding: 10px;
  border: none;
  border-radius: 5px;
}


footer {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #722F37;
  display: flex;
  flex-direction: column;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.copyright {
  display: flex;
  justify-content: center;
  font-family: 'Old English';
}

.linklogo {
  height: 50px;
  width: auto;
}